.forma{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.remove{
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: red;
  color: white;
  font-size: 17px;
  margin-left: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.forma input{
  height: 30px;
  border-radius: 3px;
  font-size: 17px;
  border: 1px solid black;
  margin-left: 20px;
}

.btn1{
  width: 450px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgb(131, 131, 251);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-top: 20px;

}
.btn2{
  width: 450px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgb(131, 131, 251);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-top: 20px;
  
}